
:root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #555555; /* Color for headings, subheadings and title throughout the website */
    --accent-color:#3d83c0; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
  }
  

.TopPageBanner{
    background-image: url(https://img.freepik.com/free-vector/abstract-medical-wallpaper-template-design_53876-61805.jpg?t=st=1745163601~exp=1745167201~hmac=ae7ec6b94fa8384c926e83de9cf75203d8594037e61eae593c461f52d455f06e&w=1060);
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
  }

  .TopPageLayout{
    position: absolute;
    min-height: 300px;
    width: 100%;
    background: rgba(21, 214, 156, 0.295);
  }

  .TopPageText{
    margin-top: 10em;
  }
  
  .TopPageTitle{
    text-align: center;
    font-size:50px;
    color: var(--accent-color);
    font-style: 'Montserrat', sans-serif;
    font-weight: 700;
  
  }
  .features-info{
    padding-right: 7pt;
  }
   .Row-Card{
    padding-bottom: 30px;
   }

   .clinics-card{
    background-color: #ffffff !important;
    width: 22em;
    border-radius: 0.6em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 1em;
    transition: all ease 200ms;
   }
   .clinics-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
   
  }

  .card-img-clinics{
    width: 286px;
    height: 200px;
  }